.fruit-img-1 {
    display: flex;
    margin-left: 60%;
    margin-top: -25%;
}

@media screen and (max-width: 1082px) {
    .fruit-img-1 {
        display: flex;
        margin-left: 0%;
        margin-top: 0%;
        align-self: center;
}
}